In [130]:
import pandas as pd
import usef_functions as uf
from time import sleep

In [131]:
df = pd.read_csv('DatafrmaeCopy.csv')

In [134]:
new = df[(~df['geo_lat'].isnull())&(~df['geo_lon'].isnull())][['geo_lat','geo_lon']]
new.index = pd.RangeIndex(start=1, stop=47491)

In [135]:
new

         geo_lat    geo_lon
1      59.958459  30.215529
2      45.072674  41.936996
3      59.939359  30.437068
4      59.740478  30.569539
5      56.324063  44.005391
...          ...        ...
47486  55.916540  37.710144
47487  45.061372  38.962089
47488  55.747042  37.863328
47489  49.935245  40.559080
47490  56.786544  60.651328

[47490 rows x 2 columns]

In [136]:
df1, df2, df3, df4, df5, df6 = new.loc[1:10000], new.loc[10001:20000], new.loc[20001:30000], new.loc[30001:40000], new.loc[40001:45000],new.loc[45001:47490]

In [152]:
df1.to_csv('df1(10k).csv', index=False)

In [153]:
df2.to_csv('df2(10k).csv', index=False)

In [154]:
df3.to_csv('df3(10k).csv', index=False)

In [155]:
df4.to_csv('df4(10k).csv', index=False)

In [156]:
df5.to_csv('df5(5k).csv', index=False)

In [157]:
df6.to_csv('df6(2490).csv', index=False)

## By Anas Awad